* {
   padding: 0;
   margin: 0;
}

html, body {
   height: 100%;
}

body {
   background: linear-gradient(360deg, rgba(77,56,209,1) 0%, rgba(123,76,244,1) 100%);
   font-family: "Poppins", sans-serif;
}

.container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card {
   display: flex;
   flex-direction: column;
   gap: 30px;

   min-width: 380px;
   border-radius: 10px;
   padding: 20px;
   background-color: white;

   box-shadow: 0px 0px 30px rgba(1, 1, 1, .5);
}

/* CARD TOP */
.card .card-top {
   display: flex;
   gap: 8px;

   height: 46px;
}

.card .card-top input {
   background-image: url(images/icons/magnifying-glass-solid.svg);
   background-repeat: no-repeat;
   background-position: 10px center;
   background-size: 24px;

   font-size: 16px;
   padding-left: 40px;
   flex: 1;

   border: 1px solid rgb(185, 185, 185);
   border-radius: 4px;
}

.card .card-top button {
   background: none;
   border: 1px solid rgb(185, 185, 185);
   border-radius: 4px;

   cursor: pointer;
   transition: all .3s ease;

   width: 50px;
}

.card .card-top button:hover {
   background-color: rgb(235, 235, 235);
}

.card .card-top button img {
   width: 28px;
   height: 100%;
}


/* CARD BODY */
.card .card-body {
   text-align: center;
}

.card .card-body .weather-info {
   display: flex;
   flex-direction: column;
   gap: 14px;

   font-size: 50px;
}

.card .card-body .weather-info img {
   width: 120px;
   height: 120px;
   margin: auto;
}

.card .card-body .weather-info #weather {
   display: flex;
   flex-direction: row;
   justify-content: center;

}


.card .card-body .weather-info #weather sup {
   font-size: .5em;
}

.card .card-body .weather-info #description {
   font-size: .45em;
}
